#totop {
    display: none;
    background-color: #34495e;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    width: 40px; 
    height: 40px; 
    border-radius:50%;
    border: none
}
  
#totop:hover {
    background-color: #555;
}

/* 以下代码基础来自萌娘百科 https://zh.moegirl.org.cn/MediaWiki:Mobile.css https://zh.moegirl.org/MediaWiki:Common.css */

.bc, .bc a, a .bc, .bc a.new {
    background-color: #252525;
    color: #252525;
    text-shadow: none;
}

.bc:hover, .bc:active,
.bc:hover .bc, .bc:active .bc {
    color: white !important;
}

.bc:hover a, a:hover .bc,
.bc:active a, a:active .bc {
    color: lightblue !important;
}

.bc:hover .new, .bc .new:hover, .new:hover .bc,
.bc:active .new:hover, .bc .new:active, .new:active .bc {
    color: #BA0000 !important;
}

/*黑暗模式
@media (prefers-color-scheme: dark) {
  :root {

  }
}
*/