html::-webkit-scrollbar-track-piece{}
html::-webkit-scrollbar{width:8px;height:8px;}
html::-webkit-scrollbar-thumb{height:40px;background-color:#eee; border-radius: 16px;}
html::-webkit-scrollbar-thumb:hover{background-color:#ddd;}

/* PostTor CSS */
.post-tor-content {
  position: relative;
  z-index: 0;
  width: 100%;
  margin-right: auto!important;
  margin-left: auto!important;
  text-align: right;
}
.post-tor {
  margin-left: 6px;
  border-left: 1px solid rgba(221, 221, 221, 0.32);
  font-size: 12px;
  position: fixed;
  z-index: 0;
  top: 100px;
  display: inline-block;
  text-align: left;
}
.torarc-t {
  width:160px;
  float:left;
  position:relative;
  min-height:1px;
}
.torarc-tile {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  padding: 6px;
}
.tori {
  font-weight: bold;
  color: #34495e;
}
.torii {
  margin-left: 2px;
  color: #5f5f5f;
}
.torii::before {
  font-family: 'Material-Design-Iconic-Font';
  color:#e8a9a9;
  margin-right: 4px;
  content: "#";
}
/* end */
.text-bar {
  color: #34495e;
  margin-top: -6px;
  font-size: 22px;
}
.text-bar a {
  color: #34495e;
  letter-spacing: 10px;
}
.text-bar a:hover,.text-bar a:visited,.text-bar a:focus {
  color: #34495e;
}
.cover-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3em;
  height: 50vw;
  width: 100vw;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  max-width: 100vw;
}
@media (min-width: 768px){
  .cover-image {
    height: 40vw;
    max-height: 400px;
  }
}
.post-content p,.post-content li {
  font-size: 16px;
  letter-spacing: .6px;
  text-align: justify;
}
.post-content figcaption {
  text-align: center;
  color: #999;
  font-style: italic;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 300;
}
.post-content h3 {
  font-size: 37px;
  margin-left: -1px;
}
.post-content h4 {
  font-size: 23px;
  color:#78909c;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: -10px;
}
.post-content h5 {
  color:#78909c;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: -3px;
  font-size: 24px;
}
.post-content h6{
  color:#78909c;
  font-weight: normal;
  font-size: 23px;
  font-weight: 300;
  margin-left: -2px;
}
.post-content h4::before{
  font-family: 'Flat-UI-Icons';
  margin-right: 8px;
  content: "#"; 
  color:#e8a6a6;
}
.post-content ul li{
  text-indent: 0;
  list-style:none;
}
.post-content ul li::before{
  font-family: 'Material-Design-Iconic-Font';
  color:#95A5A6;
  margin-right: 4px;
  content: "\f2fb";
}
.post-content ol li{
  text-indent: 0;
  margin-left: 11px;
}
.post-content ol li::before{
  margin-right: 4px;
}
.post-content blockquote {
  background-color: #FFFFFF;
  border:none;
  margin:0;
  padding:0;
  padding: 18px 32px;
  position: relative;
  line-height: 30px;
  margin-bottom: 30px;
}
.post-content blockquote p{
  font-family: Monaco, Menlo, Consolas, "Courier New", Microsoft JhengHei, Microsoft Yahei UI, monospace;
  margin:6px;
  text-indent: 0;
  color: #ef9a9a;
  font-size: 14px;
}
.post-content blockquote:before {
  font-family: 'Material-Design-Iconic-Font';
  color: #ffebee;
  content: "\f1b2";
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size:2em;
  position: absolute;
  left: 8px;
  top: 12px;
  line-height: .1em;
}
.post-content blockquote:after {
  font-family: 'Material-Design-Iconic-Font';
  color: #ffebee;
  content: "\f1b2";
  font-size:5em;
  position: absolute;
  right: 8px;
  bottom: 0px;
  line-height: .1em;
}
.post-content blockquote strong {
  font-size:16px;
}
.post-content p img{
  box-shadow: 0 2px 15px 1px rgba(0,0,0,0.1);
  display:block;
  margin:0 auto;
  text-align: center;
  border-radius:6px;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
}
.description p{
  font-size: 17px;
}
/* post-tags /// CSS部分来自 https://www.linpx.com/ */
.post-tags {
  margin: 0;
  padding: 5px 0 15px;
}
.post-tags .post-list a:nth-child(1n) {
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.1);
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
  border: 1px solid #fff;
  border-radius: 15px;
  color: rgba(51, 51, 51, 0.78);
}
.post-tags .post-list a {
  margin: 4px 8px 0 0;
  font-size: 13px;
  font-weight: 350;
  display: inline-block;
  padding: 0 12px;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
  letter-spacing: 0;
}
.post-tags .post-list a:hover {
  color:rgb(51, 51, 51);
}
.post-tags .tags-list a:nth-child(1n) {
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.1);
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
  border: 1px solid #fff;
  border-radius: 15px;
  color: rgba(51, 51, 51, 0.78);
}
.post-tags .tags-list a::before {
  content:"# ";
  color: #e8a6a6;
}
.post-tags .tags-list a {
  margin: 4px 8px 0 0;
  font-size: 12px;
  font-weight: 350;
  display: inline-block;
  padding: 0 12px;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
  letter-spacing: 0;
}
.post-tags .tags-list a:hover {
  color:rgb(51, 51, 51);
}
.post-info {
  margin: 0;
  padding: 5px 0 15px;
  margin-bottom: 25px;
}
.post-info a:nth-child(1n) {
  color: #fff;
  border: 1px solid #f8bbd0;
  border-radius: 15px;
  background: #f8bbd0;
}
.post-info a {
  font-size: 13px;
  font-weight: normal;
  display: inline-block;
  margin: 4px 8px 0 0;
  padding: 0 15px;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
  letter-spacing: 0;
}
.post-info a:hover {
  border: 1px solid #fff;
  color:#f8bbd0;
  background:#fff;
}
.post-info a::before {
  content: '# ';
}
.post-info .post-info-n a::before {
  content: '';
}
/* --- */
.arc-t {
  width:33.3%;
  float:left;
  position:relative;
  min-height:1px;
  padding-right:5px;
  padding-left:5px;
}
.arc-tile {
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  padding: 14px;
  margin-bottom: 20px;
  border: 1px solid rgba(184,197,214,.2);
  border-radius: 6px;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
}
.arc-date {
  color: #5f5f5f;
  font-size: 12px;
  position: relative;
}
.bottomtool {
  margin:10px;
}
@media (max-width: 992px){
  .arc-t {
    width:50%;
  }
  .post-tor-content {
    display: none;
  }
}
@media (max-width: 768px){
  .arc-t {
    width:100%;
  }
  .post-tor-content{
    display: none;
  }
  #bottomtools ul{
    padding: 2px;
  }
  .comment_reply {
    display: block !important;
  }
  .post-content ul,.post-list,.tags-list {
    margin-left: -1em;
    margin-right: 1em;
  }
}
.tarc-t {
  width:90%;
  position:relative;
  min-height:1px;
  padding-right:5px;
  padding-left:5px;
}
.tarc-tile {
  font-size:14px;
  position: relative;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid rgba(184,197,214,.2);
  border-radius: 6px;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
}